@charset "UTF-8";
.header__row {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container {
  position: fixed;
  background: #fff;
  display: flex;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.035em;
}
.header__main {
  display: flex;
  gap: 20px;
  margin: 0 588px 0 0;
}
.header__logo {
  font-size: 23px;
  font-weight: 700;
}
.header__text-ul {
  align-self: center;
  color: rgba(39, 41, 55, 0.75);
  display: flex;
  column-gap: 20px;
  opacity: 0.9;
}
.header__item::before {
  position: relative;
  margin-right: 5px;
  content: "•";
  opacity: 0.6;
}
.header__nav {
  font-weight: 600;
}
.header__menu {
  display: flex;
  gap: 40px;
}

.menu {
  color: #272937;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
.menu__link {
  color: inherit;
}
.menu__link_with-point::after {
  position: relative;
  content: "•";
  color: red;
  top: -6px;
  left: 1px;
}
.menu__link_bold {
  color: #7000FE;
}
@media (max-width: 1430px) {
  ._container {
    max-width: 1149px;
  }
  .header__main {
    margin: 0 317px 0 0px;
  }
  .header__menu {
    gap: 40px;
  }
}
@media (max-width: 1149px) {
  ._container {
    max-width: 769px;
    margin: 0 auto;
  }
  .header__main {
    margin: 0 183px 0 0px;
  }
  .header__menu {
    gap: 30px;
  }
  .header__text-ul {
    display: none !important;
  }
}
@media (max-width: 769px) {
  ._container {
    max-width: 769px;
  }
  .header__main {
    margin: 0 10px 0 0;
  }
  .header__menu {
    flex-wrap: wrap;
    gap: 20px;
  }
  .menu {
    line-height: 40px;
  }
  .link__img {
    height: 70%;
    width: 15%;
  }
}
@media (max-width: 579px) {
  .header__container {
    height: 30px;
  }
  .header__main {
    margin: 0 20px 0 0;
  }
  .header__menu {
    flex-wrap: wrap;
    gap: 13px;
  }
  .header__logo {
    font-size: 22px;
  }
  .menu {
    line-height: 5px;
    font-size: 15px;
  }
}