@import "/css/zero_style.css";
@import "/css/general_blocks.css";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/*---PAGE------*/
@import "/css/header.css";
@import "/css/wireframes.css";
@import "/css/design.css";
@import "/css/instructions.css";
@import "/css/base.css";
.page {
  flex: 1 1 auto;
}

.page__wireframes {
  background: #F2F2F2;
}

/*----HEADER------------------------------------*/
/*---WIREFRAMES------*/
/*---DESIGN---------------*/
/*---INSTRUCTIONS---------------*/
/*---BASE---------------*/
/*---FOOTER---------------*/
.footer {
  background: #c3c1c1;
}