@import "./mixin.scss";
.base {
    @include describe-block;
    &__row {
        display: flex;
        height: 82.4px;
        margin: 60px 5px 5px 5px;
        padding: 0 -5px;
    }
    .row{
        &__column {
            width: 255px;
        }
        &__column:not(:last-child){
            border-right: 2px solid $lightGray;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .item {
        &__title{
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -.035em;
        }
        &__text {
            margin-top: 6px;
            opacity: 0.5;
            font-size: 14px;
            line-height: 1.42;
            letter-spacing: -.035em;
        }
    }
    }
    &__img{
        margin-top: 60px;
        img{
            width: 100%;
        }
    }
    @media(max-width:1149px){
        .row{
            &__column{
                width: 188px;
                height: 79.6px;
            }
        }
    }
    @media(max-width:769px){
        &__row{
            flex-wrap: wrap;
            justify-content: space-around;
            height: 100%;
            width: 100%;
        }
        .row{
            &__column:not(:last-child){
                width:45%;
                border: none;
            }
            &__column:last-child{
                 position: relative;
            }
            &__column:last-child::before {
                content: "";
                background: $lightGray;
                position: absolute;
                width:1%;
                height: 85%;
                top: -110%;
                left: 50%;
                z-index: 5;
            }
        }
        .item {
            &__text {
                font-size: 10px;
            }
        }
        &__img{
            margin-top: 20px;
        }
    }
    @media(max-width:650px){
        .row{
            &__item{
                text-align: center;
            }
        }
    }
}