$lightGray: rgba(39,41,55,.05);
@import "/css/general_blocks.css";
.design {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__main-block {
        display: flex;
        flex-direction: column;
    }
    &__text-block {
        max-width: 1020px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-block{
        &__title {
            margin-bottom: 32px;
        }
        &__text {
            max-width: 453px;
            text-align: center;
        }
    }
    &__row {
        display: flex;
        height: 82.4px;
        margin: 60px 5px 5px 5px;
        padding: 0 -5px;
    }
    .row{

        &__column {
            width: 255px;
        }
        &__column:not(:last-child){
            border-right: 2px solid $lightGray;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .item {
        &__img {
            width: 54px;
            height: 44px;
            margin: 0 0 10px 0;
        }
        &__text {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            letter-spacing: -.035em;
        }
    }
    }
    @media(max-width:1149px){
        .row{

            &__column{
                width: 188px;
                height: 79.6px;
            }
        }
    }
    @media(max-width:794px){
        &__row{
            flex-wrap: wrap;
            justify-content: center;
            height: 100%;            
        }
        .row{
        &__column{
            box-sizing: content-box;
            width: 272.5px;
            padding: 15px;
        }
        &__column:nth-child(2){
            border:none;
            margin: 0 0 20px;
        }
        &__column:nth-child(3){
            position: relative;
        }
        &__column:nth-child(3)::before {
            content: "";
            position: absolute;
            width:200%;
            top: -10px;
            left: 0;
            border-top: 2px solid $lightGray; 
        }
    }
    }
    @media(max-width:769px){
        .row{
        &__column{
            width: 200px;
            padding: 15px; 
        }
    }
    }
    @media(max-width:650px){
        &__row {
            margin-top: 30px;
        }
        .row{
            &__column{
                max-width: 30%;
            }
            &__column:nth-child(3)::before {
                content: "";
                position: absolute;
                width:190%;
                top: -10px;
                left: 5px;
                border-top: 2px solid $lightGray; 
            }
            &__item{
                text-align: center;
            }
        }
    }
    &__img{
        margin-top: 60px;
        img{
            width: 100%;
        }
    }
}

