@import "./extend.scss";
$lightGray:rgba(39,41,55,.05);
@mixin describe-block(){
    &__container {
        @extend %__container;
    }
    &__main-block {
        @extend %__main-block;
    }
    &__text-block {
        @extend %__text-block;
    }
    .text-block{
        &__title {
            margin-bottom: 32px;
        }
        &__text {
            max-width: 453px;
            text-align: center;
        }
    }
    &__row {
        @extend %__row;
    }
}