@import "/css/zero_style.css";
@import "/css/general_blocks.css";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);



/*---PAGE------*/
.page {
    flex: 1 1 auto;
}
.page__wireframes {
    background: #F2F2F2;
}
.page__design {
}
.page__instructions {
}
.page__base {
}
/*----HEADER------------------------------------*/
@import "/css/header.css";
/*---WIREFRAMES------*/
@import "/css/wireframes.css";
/*---DESIGN---------------*/
@import "/css/design.css";
/*---INSTRUCTIONS---------------*/
@import "/css/instructions.css";
/*---BASE---------------*/
@import "/css/base.css";
/*---FOOTER---------------*/
.footer{
    background: #c3c1c1;
}