<h2>Company</h2>
<form [formGroup]="companyForm">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      required
      formControlName="nameControl"
      placeholder="OAO 'Beer Trust'"
    />
    <mat-error *ngIf="companyForm.get('nameControl')!.hasError('required')"
      >Name is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Ownership</mat-label>
    <mat-select formControlName="typeOfCompanyControl" name="ownership">
      <mat-option value="indiv">ИП</mat-option>
      <mat-option value="law">Юр. лицо</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        companyForm.get('typeOfCompanyControl')?.touched &&
        !companyForm.get('typeOfCompanyControl')!.value
      "
      >Ownership is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <div *ngIf="companyForm.get('typeOfCompanyControl')!.value">
    <mat-form-field class="example-full-width">
      <mat-label>ИНН</mat-label>
      <input
        type="number"
        matInput
        required
        formControlName="INNControl"
        placeholder="123456789"
        mask="000000000"
      />
      <mat-error
        *ngIf="
          companyForm.get('INNControl')!.hasError('notExact') &&
          !companyForm.get('INNControl')!.hasError('required')
        "
        >Enter full INN</mat-error
      >
      <mat-error *ngIf="companyForm.get('INNControl')!.hasError('required')"
        >INN is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field
      class="example-full-width"
      *ngIf="companyForm.get('typeOfCompanyControl')!.value === 'law'"
    >
      <mat-label>КПП</mat-label>
      <input
        type="text"
        matInput
        required
        formControlName="KPPControl"
        placeholder="1234567z9"
      />
      <mat-error
        *ngIf="
          companyForm.get('KPPControl')!.hasError('notExact') &&
          !companyForm.get('KPPControl')!.hasError('required')
        "
        >Enter correct KPP</mat-error
      >
      <mat-error *ngIf="companyForm.get('KPPControl')!.hasError('required')"
        >KPP is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>ОКПО</mat-label>
      <input
        type="number"
        matInput
        required
        formControlName="OKPOControl"
        placeholder="123456789"
        mask="000000000"
      />
      <mat-error
        *ngIf="
          companyForm.get('OKPOControl')!.hasError('notExact') &&
          !companyForm.get('OKPOControl')!.hasError('required')
        "
        >Enter full OKPO</mat-error
      >
      <mat-error *ngIf="companyForm.get('OKPOControl')!.hasError('required')"
        >OKPO is <strong>required</strong></mat-error
      >
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateControl" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <pre>
        {{ companyForm.get("dateControl")!.value | json }}
    </pre>
    <mat-error
      *ngIf="
        companyForm.get('dateControl')?.hasError('required') &&
        companyForm.get('dateControl')!.pristine
      "
      >Date is <strong>required</strong></mat-error
    >
    <mat-error
      *ngIf="
        companyForm.get('dateControl')?.hasError('matDatepickerParse') ||
        companyForm.get('dateControl')!.dirty
      "
      >Enter <strong>correct</strong> date</mat-error
    >
  </mat-form-field>
</form>
