<h2>Account</h2>
<form>
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <input
      placeholder="Password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <input
      placeholder="Confirm Password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
</form>
