<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Fill all fields</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form form"
      action=""
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <h2>Account</h2>
      <div class="form__account" formGroupName="accountGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            required
            formControlName="emailFormControl"
            placeholder="Ex. pat@example.com"
          />

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('email') &&
              !form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('required')
            "
            >Please enter a valid email address</mat-error
          >

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('required')
            "
            >Email is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="passwordFormControl"
            placeholder="qwerty123"
          />
          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('minlength') &&
              !form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('required')
            "
            >Password must be more than
            {{
              form.get("accountGroup")!.get("passwordFormControl")!.errors![
                "minlength"
              ].requiredLength
            }}</mat-error
          >

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('required')
            "
            >Password is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="confirmPasswordFormControl"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('confirmPasswordFormControl')!
                .hasError('required')
            "
            >Confirm password is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-error
          *ngIf="
            form.get('accountGroup')?.errors?.['notSame'] &&
            !form.get('accountGroup')!.get('confirmPasswordFormControl')!.hasError('required')
          "
        >
          Passwords didn't match
        </mat-error>
      </div>
      <div class="form__profile" formGroupName="profileGroup">
        <h2>Profile</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="profileNameControl"
            placeholder="Gerasim"
          />
          <mat-error
            *ngIf="
              form
                .get('profileGroup')!
                .get('profileNameControl')!
                .hasError('required')
            "
            >Name is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input
            type="tel"
            matInput
            required
            formControlName="phoneControl"
            placeholder="8(800) 555 3535"
            mask="0(000) 000 0000"
          />
          <mat-error
            *ngIf="
              form.get('profileGroup')!.get('phoneControl')!.hasError('mask') &&
              !form
                .get('profileGroup')!
                .get('phoneControl')!
                .hasError('required')
            "
            >Enter full phone
          </mat-error>

          <mat-error
            *ngIf="
              form
                .get('profileGroup')!
                .get('phoneControl')!
                .hasError('required')
            "
            >Phone is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="cityControl"
            placeholder="Saransk"
          />
          <mat-error
            *ngIf="
              form.get('profileGroup')!.get('cityControl')!.hasError('required')
            "
            >City is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__company"></div>
      <!-- <app-company-form />
      <app-contacts-form />  -->
      <button
        class="button"
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>
</mat-card>
