<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Fill all fields</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form form"
      action=""
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <h2>Account</h2>
      <div class="form__account" formGroupName="accountGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            required
            formControlName="emailFormControl"
            placeholder="Ex. pat@example.com"
          />

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('email') &&
              !form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('required')
            "
            >Please enter a valid email address</mat-error
          >

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('emailFormControl')!
                .hasError('required')
            "
            >Email is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="passwordFormControl"
            placeholder="qwerty123"
          />
          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('minlength') &&
              !form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('required')
            "
            >Password must be more than
            {{
              form.get("accountGroup")!.get("passwordFormControl")!.errors![
                "minlength"
              ].requiredLength
            }}</mat-error
          >

          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('passwordFormControl')!
                .hasError('required')
            "
            >Password is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="confirmPasswordFormControl"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              form
                .get('accountGroup')!
                .get('confirmPasswordFormControl')!
                .hasError('required')
            "
            >Confirm password is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-error
          *ngIf="
            form.get('accountGroup')?.errors?.['notSame'] &&
            !form.get('accountGroup')!.get('confirmPasswordFormControl')!.hasError('required')
          "
        >
          Passwords didn't match
        </mat-error>
      </div>
      <div class="form__profile" formGroupName="profileGroup">
        <h2>Profile</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="profileNameControl"
            placeholder="Gerasim"
          />
          <mat-error
            *ngIf="
              form
                .get('profileGroup')!
                .get('profileNameControl')!
                .hasError('required')
            "
            >Name is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input
            type="tel"
            matInput
            required
            formControlName="phoneControl"
            placeholder="8(800) 555 3535"
            mask="0(000) 000 0000"
          />
          <mat-error
            *ngIf="
              form.get('profileGroup')!.get('phoneControl')!.hasError('mask') &&
              !form
                .get('profileGroup')!
                .get('phoneControl')!
                .hasError('required')
            "
            >Enter full phone
          </mat-error>

          <mat-error
            *ngIf="
              form
                .get('profileGroup')!
                .get('phoneControl')!
                .hasError('required')
            "
            >Phone is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="cityControl"
            placeholder="Saransk"
          />
          <mat-error
            *ngIf="
              form.get('profileGroup')!.get('cityControl')!.hasError('required')
            "
            >City is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__company" formGroupName="companyGroup">
        <h2>Company</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="companyNameControl"
            placeholder="OAO 'Beer Trust'"
          />
          <mat-error
            *ngIf="
              form
                .get('companyGroup')!
                .get('companyNameControl')!
                .hasError('required')
            "
            >Name is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Ownership</mat-label>
          <mat-select formControlName="ownershipControl" name="ownership">
            <mat-option (click)="setKPPControl()" value="indiv">ИП</mat-option>
            <mat-option (click)="clearKPPControl()" value="law"
              >Юр. лицо</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              form.get('companyGroup')!.get('ownershipControl')?.touched &&
              !form.get('companyGroup')!.get('ownershipControl')!.value
            "
            >Ownership is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <div *ngIf="form.get('companyGroup')!.get('ownershipControl')!.value">
          <mat-form-field class="example-full-width">
            <mat-label>ИНН</mat-label>
            <input
              type="number"
              matInput
              required
              formControlName="INNControl"
              placeholder="123456789"
              mask="000000000"
            />
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('INNControl')!
                  .hasError('notExact') &&
                !form
                  .get('companyGroup')!
                  .get('INNControl')!
                  .hasError('required')
              "
              >Enter full INN</mat-error
            >
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('INNControl')!
                  .hasError('required')
              "
              >INN is <strong>required</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            *ngIf="
              form.get('companyGroup')!.get('ownershipControl')!.value === 'law'
            "
          >
            <mat-label>КПП</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="KPPControl"
              placeholder="1234567z9"
            />
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('KPPControl')!
                  .hasError('notExact') &&
                !form
                  .get('companyGroup')!
                  .get('KPPControl')!
                  .hasError('required')
              "
              >Enter correct KPP</mat-error
            >
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('KPPControl')!
                  .hasError('required')
              "
              >KPP is <strong>required</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>ОКПО</mat-label>
            <input
              type="number"
              matInput
              required
              formControlName="OKPOControl"
              placeholder="123456789"
              mask="000000000"
            />
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('OKPOControl')!
                  .hasError('notExact') &&
                !form
                  .get('companyGroup')!
                  .get('OKPOControl')!
                  .hasError('required')
              "
              >Enter full OKPO</mat-error
            >
            <mat-error
              *ngIf="
                form
                  .get('companyGroup')!
                  .get('OKPOControl')!
                  .hasError('required')
              "
              >OKPO is <strong>required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateControl"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <pre>
        {{ form.get("companyGroup")!.get("dateControl")!.value | json }}
    </pre
          >
          <mat-error
            *ngIf="
              form
                .get('companyGroup')!
                .get('dateControl')
                ?.hasError('required') &&
              form.get('companyGroup')!.get('dateControl')!.pristine
            "
            >Date is <strong>required</strong></mat-error
          >
          <mat-error
            *ngIf="
              form
                .get('companyGroup')!
                .get('dateControl')
                ?.hasError('matDatepickerParse') ||
              form.get('companyGroup')!.get('dateControl')!.dirty
            "
            >Enter <strong>correct</strong> date</mat-error
          >
        </mat-form-field>
      </div>
      <!-- <app-company-form />
      <app-contacts-form />  -->
      <button
        class="button"
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>
</mat-card>
