<div class="input-group inputForm">
  <div class="input-group-text"><i class="bi bi-calendar-check"></i></div>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="newTask"
    (keydown.enter)="addTask()"
    placeholder="Захватить мир своими танцами"
    #input
  />
  <!-- <p>
    {{ taskService.isEdit | json }}
  </p>
  <p>
    {{ taskService.isEdit$ | async }}
  </p> -->
  <div class="closeBtn" *ngIf="isEdit$ | async">
    <button
      class="btn btn-danger"
      title="Отменить редактирование"
      (click)="cancelEdit()"
    >
      &times;
    </button>
  </div>
  <button class="btn btn-outline-secondary" (click)="addTask()">
    {{ btnText }}
  </button>
</div>
