<h2>Profile</h2>
<form [formGroup]="profileForm">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      required
      formControlName="nameControl"
      placeholder="Gerasim"
    />
    <mat-error *ngIf="profileForm.get('nameControl')!.hasError('required')"
      >Name is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Phone</mat-label>
    <input
      type="tel"
      matInput
      required
      formControlName="phoneControl"
      placeholder="8(800) 555 3535"
      mask="0(000) 000 0000"
    />
    <mat-error
      *ngIf="
        profileForm.get('phoneControl')!.hasError('mask') &&
        !profileForm.get('phoneControl')!.hasError('required')
      "
      >Enter full phone
    </mat-error>

    <mat-error *ngIf="profileForm.get('phoneControl')!.hasError('required')"
      >Phone is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <input
      type="text"
      matInput
      required
      formControlName="cityControl"
      placeholder="Saransk"
    />
    <mat-error *ngIf="profileForm.get('cityControl')!.hasError('required')"
      >City is required</mat-error
    >
  </mat-form-field>
</form>
